/* line 1, ../scss/_reset.scss */
a:hover, a:focus {
  text-decoration: none; }

/* line 4, ../scss/_reset.scss */
.navbar {
  margin: 0; }

/* line 7, ../scss/_reset.scss */
ul {
  margin: 0; }

/* line 3, ../scss/layout/_layout.scss */
.section-img {
  height: 80rem; }

/* line 6, ../scss/layout/_layout.scss */
#section-1 {
  background: url(../img/seaclouds.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 12, ../scss/layout/_layout.scss */
#section-2 {
  background: url(../img/devices.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 18, ../scss/layout/_layout.scss */
#section-3 {
  background: url(../img/mountains.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* Site */
/* line 27, ../scss/layout/_layout.scss */
#spacer {
  height: 80px; }

/* line 30, ../scss/layout/_layout.scss */
div .about {
  height: 30rem;
  padding-top: 5rem;
  margin-top: 50rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.75); }

/* line 39, ../scss/layout/_layout.scss */
#company {
  height: 24rem;
  margin-top: 56rem; }

/* Header */
/* line 45, ../scss/layout/_layout.scss */
.site-title span {
  vertical-align: bottom; }

/* line 48, ../scss/layout/_layout.scss */
.site-header {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 64px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 64px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 64px 0px rgba(0, 0, 0, 0.75); }

/* line 57, ../scss/layout/_layout.scss */
.site-header li {
  padding-left: 4rem;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline; }

/* Contact Form */
/* line 65, ../scss/layout/_layout.scss */
textarea.form-control {
  height: 20rem; }

/* line 68, ../scss/layout/_layout.scss */
.contact-btn {
  z-index: 150;
  position: fixed;
  top: 10px;
  right: 10px; }

/* line 74, ../scss/layout/_layout.scss */
.modal-content {
  padding-bottom: 10px; }

/* line 77, ../scss/layout/_layout.scss */
.modal-sm form {
  padding-left: 1rem;
  padding-right: 1rem; }

/* line 81, ../scss/layout/_layout.scss */
#recaptcha {
  display: inline-flex; }

/* line 3, ../scss/colors/_colors.scss */
body {
  background: #F0EDEE; }

/* line 6, ../scss/colors/_colors.scss */
.site-header {
  background: #003245; }

/* line 9, ../scss/colors/_colors.scss */
.site-header a {
  color: #F0EDEE; }

/* line 12, ../scss/colors/_colors.scss */
.site-header a:hover {
  color: #3EA7CF; }

/* line 15, ../scss/colors/_colors.scss */
.about {
  color: #F0EDEE;
  background: #153845; }

/* line 22, ../scss/colors/_colors.scss */
.contact-btn {
  color: #F0EDEE;
  background: #008FC5;
  border: #0A090C; }

@media (min-width: 200px) {
  /* Contact Form */
  /* line 4, ../scss/media-queries/_200.scss */
  .modal-sm {
    width: 90%;
    float: none;
    margin: auto;
    margin-top: 10%; } }
@media (min-width: 720px) {
  /* Contact Form */
  /* line 4, ../scss/media-queries/_720.scss */
  .modal-sm {
    width: 60%; } }
@media (min-width: 1024px) {
  /* Contact Form */
  /* line 3, ../scss/media-queries/_1024.scss */
  .modal-sm {
    width: 500px; } }
/* line 1, ../scss/typography/_typography.scss */
body, button {
  font-family: 'Open Sans', sans-serif; }

/* line 5, ../scss/typography/_typography.scss */
.site-header {
  font-size: 2.6rem;
  font-weight: 800; }

/* line 9, ../scss/typography/_typography.scss */
.site-title {
  font-family: 'Baloo Paaji', cursive;
  font-size: 4rem;
  font-weight: 400; }

/* line 14, ../scss/typography/_typography.scss */
.navigation {
  text-transform: uppercase; }

/* line 18, ../scss/typography/_typography.scss */
h1, h2, h3, h4 {
  font-weight: 400; }

/* line 22, ../scss/typography/_typography.scss */
body {
  font-weight: 300; }

/*# sourceMappingURL=style.css.map */
