/* line 1, ../scss/_reset.scss */
a:hover, a:focus {
  text-decoration: none;
  outline: none; }

/* line 5, ../scss/_reset.scss */
.navbar {
  margin: 0; }

/* line 8, ../scss/_reset.scss */
ul {
  margin: 0; }

/* line 11, ../scss/_reset.scss */
th {
  vertical-align: initial !important; }

/* line 2, ../scss/layout/_layout.scss */
.section-img {
  height: 45rem;
  padding-top: 1rem; }

/* line 6, ../scss/layout/_layout.scss */
#section-1 {
  margin-top: 18rem;
  background: url("../img/ocean.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 13, ../scss/layout/_layout.scss */
#section-2 {
  background: url("../img/devices.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 19, ../scss/layout/_layout.scss */
#section-3 {
  background: url("../img/mountains.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* Site */
/* line 28, ../scss/layout/_layout.scss */
div .about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.75); }

/* Header */
/* line 38, ../scss/layout/_layout.scss */
.site-title span {
  vertical-align: bottom; }

/* line 41, ../scss/layout/_layout.scss */
.site-header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 64px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 64px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 64px 0px rgba(0, 0, 0, 0.75); }

/* line 51, ../scss/layout/_layout.scss */
.logo:hover, .logo:focus {
  background: url("../img/logo-hover.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

/* line 58, ../scss/layout/_layout.scss */
nav {
  text-align: center; }

/* line 61, ../scss/layout/_layout.scss */
.navbar-brand {
  float: none; }

/* line 64, ../scss/layout/_layout.scss */
.navbar li {
  padding-left: 4rem;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline; }

/* Contact Form */
/* line 72, ../scss/layout/_layout.scss */
textarea.form-control {
  height: 20rem; }

/* line 75, ../scss/layout/_layout.scss */
.contact-btn {
  z-index: 150;
  position: fixed;
  top: 10px;
  right: 10px; }

/* line 81, ../scss/layout/_layout.scss */
.modal-content {
  padding-bottom: 10px; }

/* line 84, ../scss/layout/_layout.scss */
.modal-sm form {
  padding-left: 1rem;
  padding-right: 1rem; }

/* line 88, ../scss/layout/_layout.scss */
#recaptcha {
  display: inline-flex; }

/* Pricing Plans */
/* line 94, ../scss/layout/_layout.scss */
#services {
  margin-top: 4rem; }

/* Privacy Page */
/* line 99, ../scss/layout/_layout.scss */
.privacy {
  margin-top: 10rem;
  margin-bottom: 10rem; }

/* Footer */
/* line 104, ../scss/layout/_layout.scss */
footer {
  height: 22rem; }

/* line 107, ../scss/layout/_layout.scss */
.footer {
  float: left;
  width: 100%;
  height: 18rem;
  padding-top: 2rem; }

/* line 113, ../scss/layout/_layout.scss */
.footer > div {
  padding-top: 2rem;
  padding-bottom: 2rem; }

/* line 1, ../scss/layout/_pricing.scss */
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

/* line 6, ../scss/layout/_pricing.scss */
body {
  font-family: 'Open Sans', sans-serif; }

/* line 10, ../scss/layout/_pricing.scss */
#plans, #plans ul, #plans ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 16, ../scss/layout/_pricing.scss */
#pricePlans:after {
  content: '';
  display: table;
  clear: both; }

/* line 22, ../scss/layout/_pricing.scss */
#pricePlans {
  zoom: 1; }

/* line 26, ../scss/layout/_pricing.scss */
#pricePlans {
  max-width: 69em;
  margin: 0 auto; }

/* line 31, ../scss/layout/_pricing.scss */
#pricePlans #plans .plan {
  background: #fff;
  float: left;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

/* line 43, ../scss/layout/_pricing.scss */
.planContainer .title h2 {
  font-size: 2.125em;
  font-weight: 300;
  color: #153845;
  margin: 0;
  padding: .6em 0; }

/* line 51, ../scss/layout/_pricing.scss */
.planContainer .title h2.bestPlanTitle {
  background: #153845;
  color: white;
  background: -webkit-linear-gradient(top, #153845, #003245);
  background: -moz-linear-gradient(top, #153845, #003245);
  background: -o-linear-gradient(top, #153845, #003245);
  background: -ms-linear-gradient(top, #153845, #003245);
  background: linear-gradient(top, #153845, #003245);
  border-radius: 5px 5px 0 0; }

/* line 63, ../scss/layout/_pricing.scss */
.planContainer .price p {
  background: #153845;
  background: -webkit-linear-gradient(top, #153845, #003245);
  background: -moz-linear-gradient(top, #153845, #003245);
  background: -o-linear-gradient(top, #153845, #003245);
  background: -ms-linear-gradient(top, #153845, #003245);
  background: linear-gradient(top, #153845, #003245);
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  height: 2.6em;
  line-height: 2.6em;
  margin: 0 0 1em; }

/* line 79, ../scss/layout/_pricing.scss */
.planContainer .price p.bestPlanPrice {
  background: #E5992E; }

/* line 83, ../scss/layout/_pricing.scss */
.planContainer .price p span {
  color: #8394ae; }

/* line 86, ../scss/layout/_pricing.scss */
.fine {
  font-size: 10px !important; }

/* line 89, ../scss/layout/_pricing.scss */
.fine-print {
  font-size: 11px;
  color: #575757; }

/* line 94, ../scss/layout/_pricing.scss */
.planContainer .options {
  margin-top: 10em; }

/* line 98, ../scss/layout/_pricing.scss */
.planContainer .options li {
  font-weight: 700;
  color: #364762;
  line-height: 2.5; }

/* line 104, ../scss/layout/_pricing.scss */
.planContainer .options li span {
  font-weight: 400;
  color: #979797; }

/* line 109, ../scss/layout/_pricing.scss */
.planContainer .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: #3e4f6a;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.8em;
  border: 2px solid #3e4f6a;
  display: inline-block;
  width: 80%;
  height: 2.8em;
  border-radius: 4px;
  margin: 1.5em 0 1.8em; }

/* line 124, ../scss/layout/_pricing.scss */
.planContainer .button a.bestPlanButton {
  color: #fff;
  background: #E5992E;
  border: 2px solid #f7814d; }

/* line 130, ../scss/layout/_pricing.scss */
#credits {
  text-align: center;
  font-size: .8em;
  font-style: italic;
  color: #a0a0a0; }

/* line 137, ../scss/layout/_pricing.scss */
#credits a {
  color: #a0a0a0; }

/* line 141, ../scss/layout/_pricing.scss */
#credits a:hover {
  text-decoration: none; }

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 147, ../scss/layout/_pricing.scss */
  #pricePlans #plans .plan {
    width: 49%;
    margin: 0 2% 20px 0; }

  /* line 152, ../scss/layout/_pricing.scss */
  #pricePlans #plans > li:nth-child(2n) {
    margin-right: 0; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 160, ../scss/layout/_pricing.scss */
  #pricePlans #plans .plan {
    width: 49%;
    margin: 0 2% 20px 0; }

  /* line 165, ../scss/layout/_pricing.scss */
  #pricePlans #plans > li:nth-child(2n) {
    margin-right: 0; } }
@media screen and (min-width: 1025px) {
  /* line 173, ../scss/layout/_pricing.scss */
  #pricePlans {
    margin: 2em auto; }

  /* line 177, ../scss/layout/_pricing.scss */
  #pricePlans #plans .plan {
    width: 24%;
    margin: 0 1.33% 20px 0;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }

  /* line 188, ../scss/layout/_pricing.scss */
  #pricePlans #plans > li:last-child {
    margin-right: 0; }

  /* line 192, ../scss/layout/_pricing.scss */
  #pricePlans #plans .plan:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04); }

  /* line 200, ../scss/layout/_pricing.scss */
  .planContainer .button a {
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }

  /* line 208, ../scss/layout/_pricing.scss */
  .planContainer .button a:hover {
    background: #153845;
    color: #fff; }

  /* line 213, ../scss/layout/_pricing.scss */
  .planContainer .button a.bestPlanButton:hover {
    background: #FFAA45;
    border: 2px solid #FFAA45; } }
/* line 3, ../scss/colors/_colors.scss */
body {
  background: #F0EDEE; }

/* line 6, ../scss/colors/_colors.scss */
.site-header {
  background: #003245; }

/* line 9, ../scss/colors/_colors.scss */
.navbar-default .navbar-nav > li > a, .site-header a {
  color: #F0EDEE; }

/* line 12, ../scss/colors/_colors.scss */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .site-header a:hover {
  color: #3EA7CF; }

/* line 16, ../scss/colors/_colors.scss */
.navbar-default {
  background-color: #003245;
  border-color: transparent; }

/* line 20, ../scss/colors/_colors.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #F0EDEE; }

/* line 23, ../scss/colors/_colors.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #3EA7CF; }

/* line 26, ../scss/colors/_colors.scss */
.about {
  color: #F0EDEE;
  background: #153845; }

/* line 33, ../scss/colors/_colors.scss */
.contact-btn {
  color: #F0EDEE;
  background: #008FC5;
  border: #0A090C; }

/* Pricing Plans */
/* line 40, ../scss/colors/_colors.scss */
#services ul {
  background: #F0EDEE; }

/* line 43, ../scss/colors/_colors.scss */
.plan-type {
  color: white; }

/* line 48, ../scss/colors/_colors.scss */
.footer, footer {
  background: #0A090C;
  color: #F0EDEE; }

/* line 52, ../scss/colors/_colors.scss */
.footer a {
  color: #008FC5; }

/* line 55, ../scss/colors/_colors.scss */
.footer a:hover {
  color: #153845; }

@media (min-width: 200px) {
  /* line 4, ../scss/media-queries/_200.scss */
  .site-header {
    padding-bottom: 0; }

  /* line 7, ../scss/media-queries/_200.scss */
  .site-title, .logo {
    text-align: center; }

  /* line 10, ../scss/media-queries/_200.scss */
  .navbar ul {
    font-size: 2rem;
    font-weight: 300;
    padding-top: 1rem; }

  /* line 15, ../scss/media-queries/_200.scss */
  .navbar li {
    padding: 0;
    display: block; }

  /* Contact Form */
  /* line 21, ../scss/media-queries/_200.scss */
  .modal-sm {
    width: 90%;
    float: none;
    margin: auto;
    margin-top: 10%; }

  /* line 27, ../scss/media-queries/_200.scss */
  div .about {
    padding-left: 3rem;
    padding-right: 3rem; }

  /* line 31, ../scss/media-queries/_200.scss */
  footer {
    height: 46rem; } }
@media (min-width: 720px) {
  /* Contact Form */
  /* line 4, ../scss/media-queries/_720.scss */
  .modal-sm {
    width: 60%; } }
@media (min-width: 768px) {
  /* line 2, ../scss/media-queries/_768.scss */
  .site-header {
    padding-bottom: 2rem; }

  /* line 5, ../scss/media-queries/_768.scss */
  .navbar-nav {
    float: none;
    text-align: center;
    margin: auto;
    display: inline-flex; }

  /* line 11, ../scss/media-queries/_768.scss */
  .navbar ul {
    border-top: 1px solid #F0EDEE; }

  /* line 14, ../scss/media-queries/_768.scss */
  .navbar li {
    padding-left: 2rem;
    padding-right: 2rem; }

  /* line 18, ../scss/media-queries/_768.scss */
  .links, .site-seal {
    float: left;
    width: 50%; }

  /* line 22, ../scss/media-queries/_768.scss */
  .site-seal {
    text-align: right;
    padding-right: 3rem; }

  /* line 26, ../scss/media-queries/_768.scss */
  .links {
    text-align: left; }

  /* line 29, ../scss/media-queries/_768.scss */
  .links li {
    display: inline;
    padding-left: 3rem;
    padding-right: 3rem; }

  /* line 34, ../scss/media-queries/_768.scss */
  .navbar .narrow {
    display: none; }

  /* line 38, ../scss/media-queries/_768.scss */
  footer {
    height: 37rem; } }
@media (min-width: 870px) {
  /* line 2, ../scss/media-queries/_870.scss */
  .navbar .narrow {
    display: inline; } }
@media (min-width: 1024px) {
  /* Contact Form */
  /* line 3, ../scss/media-queries/_1024.scss */
  .modal-sm {
    width: 500px; }

  /* line 6, ../scss/media-queries/_1024.scss */
  .navbar li {
    padding-left: 3rem;
    padding-right: 3rem; } }
@media (min-width: 1258px) {
  /* line 2, ../scss/media-queries/_1258.scss */
  footer {
    height: 28rem; }

  /* line 5, ../scss/media-queries/_1258.scss */
  .contact-info {
    width: 33%;
    margin-left: 33%;
    float: left; }

  /* line 10, ../scss/media-queries/_1258.scss */
  .social-buttons {
    width: 33%;
    float: right; } }
/* line 1, ../scss/typography/_typography.scss */
body, button {
  font-family: 'Open Sans', sans-serif; }

/* line 5, ../scss/typography/_typography.scss */
.site-header {
  font-size: 2.6rem;
  font-weight: 800; }

/* line 9, ../scss/typography/_typography.scss */
.site-title {
  font-family: 'Baloo Paaji', cursive;
  font-size: 4rem;
  font-weight: 400; }

/* line 14, ../scss/typography/_typography.scss */
.navigation {
  text-transform: uppercase; }

/* line 18, ../scss/typography/_typography.scss */
h1, h2, h3, h4 {
  font-weight: 600; }

/* line 21, ../scss/typography/_typography.scss */
body {
  font-weight: 300; }

/* line 25, ../scss/typography/_typography.scss */
.social-buttons {
  font-size: 4rem;
  padding-bottom: 2rem; }

/* line 29, ../scss/typography/_typography.scss */
.social-buttons a:hover {
  color: white; }

/* line 32, ../scss/typography/_typography.scss */
.contact-info {
  font-size: 1.6rem; }

/* line 35, ../scss/typography/_typography.scss */
.company:hover,
.services:hover {
  cursor: pointer; }

/* line 8, ../scss/style.scss */
.smallnav.site-header {
  padding-top: 1rem;
  padding-left: 0;
  padding-right: 0; }

/* line 13, ../scss/style.scss */
.smallnav .site-branding {
  max-width: 66%; }

/* line 16, ../scss/style.scss */
.smallnav .site-title {
  font-size: 2.8rem; }

/* line 20, ../scss/style.scss */
.smallnav img {
  max-width: 6rem; }

/* line 23, ../scss/style.scss */
.smallnav .navbar {
  margin-top: -5rem;
  z-index: -1; }

/* line 27, ../scss/style.scss */
.smallnav button {
  z-index: 1; }

/*# sourceMappingURL=style.css.map */
