/* line 1, ../scss/_reset.scss */
a:hover, a:focus {
  text-decoration: none;
  outline: none; }

/* line 5, ../scss/_reset.scss */
.navbar {
  margin: 0; }

/* line 8, ../scss/_reset.scss */
ul {
  margin: 0; }

/* line 3, ../scss/layout/_layout.scss */
.section-img {
  height: 45rem;
  padding-top: 1rem; }

/* line 7, ../scss/layout/_layout.scss */
#section-1 {
  margin-top: 20rem;
  background: url(../img/ocean.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 14, ../scss/layout/_layout.scss */
#section-2 {
  background: url(../img/devices.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 20, ../scss/layout/_layout.scss */
#section-3 {
  background: url(../img/mountains.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* Site */
/* line 29, ../scss/layout/_layout.scss */
div .about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.75); }

/* Header */
/* line 39, ../scss/layout/_layout.scss */
.site-title span {
  vertical-align: bottom; }

/* line 42, ../scss/layout/_layout.scss */
.site-header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 64px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 64px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 64px 0px rgba(0, 0, 0, 0.75); }

/* line 53, ../scss/layout/_layout.scss */
nav {
  text-align: center; }

/* line 56, ../scss/layout/_layout.scss */
.navbar-brand {
  float: none; }

/* line 59, ../scss/layout/_layout.scss */
.navbar li {
  padding-left: 4rem;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline; }

/* Contact Form */
/* line 67, ../scss/layout/_layout.scss */
textarea.form-control {
  height: 20rem; }

/* line 70, ../scss/layout/_layout.scss */
.contact-btn {
  z-index: 150;
  position: fixed;
  top: 10px;
  right: 10px; }

/* line 76, ../scss/layout/_layout.scss */
.modal-content {
  padding-bottom: 10px; }

/* line 79, ../scss/layout/_layout.scss */
.modal-sm form {
  padding-left: 1rem;
  padding-right: 1rem; }

/* line 83, ../scss/layout/_layout.scss */
#recaptcha {
  display: inline-flex; }

/* line 87, ../scss/layout/_layout.scss */
.privacy {
  margin-top: 10rem;
  margin-bottom: 10rem; }

/* line 92, ../scss/layout/_layout.scss */
.footer {
  height: 28rem;
  padding-top: 2rem; }

/* line 96, ../scss/layout/_layout.scss */
.footer > div {
  padding-top: 2rem;
  padding-bottom: 2rem; }

/* line 3, ../scss/colors/_colors.scss */
body {
  background: #F0EDEE; }

/* line 6, ../scss/colors/_colors.scss */
.site-header {
  background: #003245; }

/* line 9, ../scss/colors/_colors.scss */
.navbar-default .navbar-nav > li > a, .site-header a {
  color: #F0EDEE; }

/* line 12, ../scss/colors/_colors.scss */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .site-header a:hover {
  color: #3EA7CF; }

/* line 16, ../scss/colors/_colors.scss */
.navbar-default {
  background-color: #003245;
  border-color: transparent; }

/* line 20, ../scss/colors/_colors.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #F0EDEE; }

/* line 23, ../scss/colors/_colors.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #3EA7CF; }

/* line 26, ../scss/colors/_colors.scss */
.about {
  color: #F0EDEE;
  background: #153845; }

/* line 33, ../scss/colors/_colors.scss */
.contact-btn {
  color: #F0EDEE;
  background: #008FC5;
  border: #0A090C; }

/* line 38, ../scss/colors/_colors.scss */
.footer {
  background: #0A090C;
  color: #F0EDEE; }

/* line 42, ../scss/colors/_colors.scss */
.footer a {
  color: #008FC5; }

/* line 45, ../scss/colors/_colors.scss */
.footer a:hover {
  color: #153845; }

@media (min-width: 200px) {
  /* line 4, ../scss/media-queries/_200.scss */
  .site-title, .logo {
    text-align: center; }

  /* line 7, ../scss/media-queries/_200.scss */
  .navbar ul {
    border-top: 1px solid #F0EDEE;
    font-size: 2rem;
    font-weight: 300;
    padding-top: 1rem; }

  /* line 13, ../scss/media-queries/_200.scss */
  .navbar li {
    padding: 0;
    display: block; }

  /* Contact Form */
  /* line 19, ../scss/media-queries/_200.scss */
  .modal-sm {
    width: 90%;
    float: none;
    margin: auto;
    margin-top: 10%; }

  /* line 25, ../scss/media-queries/_200.scss */
  div .about {
    padding-left: 3rem;
    padding-right: 3rem; } }
@media (min-width: 720px) {
  /* Contact Form */
  /* line 4, ../scss/media-queries/_720.scss */
  .modal-sm {
    width: 60%; } }
@media (min-width: 768px) {
  /* line 2, ../scss/media-queries/_768.scss */
  .navbar-nav {
    float: none;
    text-align: center;
    margin: auto;
    display: inline-flex; }

  /* line 8, ../scss/media-queries/_768.scss */
  .navbar li {
    padding-left: 2rem;
    padding-right: 2rem; }

  /* line 12, ../scss/media-queries/_768.scss */
  .links, .site-seal {
    float: left;
    width: 50%; }

  /* line 16, ../scss/media-queries/_768.scss */
  .site-seal {
    text-align: right;
    padding-right: 3rem; }

  /* line 20, ../scss/media-queries/_768.scss */
  .links li {
    display: inline;
    padding-left: 3rem;
    padding-right: 3rem; }

  /* line 25, ../scss/media-queries/_768.scss */
  .footer {
    height: 16rem; } }
@media (min-width: 1024px) {
  /* Contact Form */
  /* line 3, ../scss/media-queries/_1024.scss */
  .modal-sm {
    width: 500px; }

  /* line 6, ../scss/media-queries/_1024.scss */
  .navbar li {
    padding-left: 3rem;
    padding-right: 3rem; } }
/* line 1, ../scss/typography/_typography.scss */
body, button {
  font-family: 'Open Sans', sans-serif; }

/* line 5, ../scss/typography/_typography.scss */
.site-header {
  font-size: 2.6rem;
  font-weight: 800; }

/* line 9, ../scss/typography/_typography.scss */
.site-title {
  font-family: 'Baloo Paaji', cursive;
  font-size: 4rem;
  font-weight: 400; }

/* line 14, ../scss/typography/_typography.scss */
.navigation {
  text-transform: uppercase; }

/* line 18, ../scss/typography/_typography.scss */
h1, h2, h3, h4 {
  font-weight: 400; }

/* line 22, ../scss/typography/_typography.scss */
body {
  font-weight: 300; }

/*# sourceMappingURL=style.css.map */
